<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
     
    <mat-form-field>
      <h3>Title</h3>
      <input matInput 
        type="text" 
        name="title"
        ngModel
        required
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please Enter a Title</mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <h3>Description</h3>
      <textarea 
        matInput 
        rows="4" 
        name="description"
        ngModel
        required
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please Enter The content of the post</mat-error>
    </mat-form-field>
    
    <button 
      mat-raised-button
      color="primary"
      type="submit">Save Post</button>
  </form>
</mat-card>


