<p></p>
<div class="user-description">
  <div class="profile-picture">
    <img [src]="profilePicture || 'https://placehold.co/600x400/orangered/white'" alt="Profile Picture">
  </div>
  <p></p>
  <div class="user-details">
    <div class="attribute">
      <span class="label">First Name:</span>
      <span class="value">{{ firstName }}</span>
    </div>
    <div class="attribute">
      <span class="label">Last Name:</span>
      <span class="value">{{ lastName }}</span>
    </div>
    <div class="attribute">
      <span class="label">Username:</span>
      <span class="value">{{ username }}</span>
    </div>
  </div>
</div>

